body {
    background-color: rgb(20, 20, 33);
}

.btn-my {
    padding: 0.5rem 1.5rem;
    background-color: rgb(0, 183, 199);
    border-radius: 30px;
    color: white;
    border: none;
    transition: 0.3s;
}

.btn-my:hover {
    box-shadow: 0 0 15px rgb(0, 183, 199);
    color: white;
}

.icon-my {
    font-size: 20px;
    color: rgb(0, 183, 199);
}

.icon-div {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border-color: rgb(0, 183, 199);
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    transition: 0.3s;
}

.icon-div:hover {
    background-color: rgb(0, 183, 199);

    .icon-my {
        color: white;
    }
}

.img-zero {
    border-radius: 100%;
    border-color: rgb(0, 183, 199);
    box-shadow: 0 0 50px rgb(0, 183, 199);
    border-width: 10px;
    border-style: outset;
}

@media (min-width: 320px) {
    .img-zero {
        width: 250px;
        height: 250px;
    }
}

@media (min-width: 768px) {
    .img-zero {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 1024px) {
    .img-zero {
        width: 515px;
        height: 515px;
    }
}

.my-name-text {
    font-size: 3rem;
    font-weight: 700;
    text-align: start;
    color: rgb(0, 183, 199);
}

.my-position-text {
    font-size: 25px;
    font-weight: 400;
    text-align: start;
    color: rgb(226, 226, 226);
}

.my-para {
    color: rgb(155, 155, 155);
}

.about-text {
    font-size: 3rem;
    font-weight: 700;
    text-align: start;
    color: rgb(0, 183, 199);
}

.my-position-text-about {
    font-size: 25px;
    font-weight: 400;
    text-align: start;
    color: rgb(226, 226, 226);
}

.swiper {
    overflow: hidden;
    max-width: 850px;
    margin: 50px 0 40px;
}

.swiper .swiper-pagination-bullet {
    background-color: #009699;
    width: 12px;
    height: 12px;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #6c6c6c;
    width: 20px;
    height: 20px;
    position: absolute;
}

.skil-logo {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    background-color: rgb(35, 35, 42);
    cursor: pointer;
    transition: 0.4s;
    box-shadow: inset 0px 0px 30px 1px rgb(80, 80, 80);
}

.skil-logo:hover {
    background-color: rgb(0, 96, 105);
    box-shadow: inset 0px 0px 30px 1px rgb(80, 80, 80),
        0px 0px 20px 1px rgb(0, 130, 142);
}

.skil-icon {
    width: 60px;
}

.nav-main-bar {
    background-color: rgb(20, 20, 33);
}

.nav-logo {
    color: rgb(255, 255, 255);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-logo:hover {
    color: rgb(0, 183, 199);
}

.nav-text {
    color: rgb(205, 205, 205);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.nav-text:hover {
    color: rgb(0, 183, 199);
}

.my-service-text-main {
    color: rgb(226, 226, 226);
}

.my-card {
    background-color: rgb(35, 35, 42);
    cursor: pointer;
    transition: 0.4s;
    box-shadow: inset 0px 0px 30px 1px rgb(80, 80, 80);
}

.service-my-icon {
    color: rgb(226, 226, 226);
}

.service-title {
    color: rgb(255, 255, 255);
}

.my-card:hover {
    background-color: rgb(0, 96, 105);
    box-shadow: inset 0px 0px 30px 1px rgb(80, 80, 80),
        0px 0px 30px 1px rgb(0, 130, 142);
}

.project-main-text {
    color: rgb(255, 255, 255);
}

.contact-card {
    background-color: rgb(35, 35, 42);
}

.contact-main-text {
    color: rgb(0, 183, 199);
}

.contact-text {
    color: rgb(226, 226, 226);
}

.icon-contact {
    color: rgb(0, 183, 199);
}

.contact-text-2 {
    color: rgb(155, 155, 155);
}

.text-lable-contact{
    color: rgb(226, 226, 226);
}

.my-footer{
    background-color: rgb(0, 0, 21);
}

.input-my{
    background-color: rgb(51, 51, 59);
    color: rgb(226, 226, 226);
    border: none;
}

.input-my:focus{
    background-color: rgb(51, 51, 59);
    color: rgb(226, 226, 226);
    border: none;
}

.contact-pading{
    padding-top: 100px;
}